.dub
*.bat
*.dll
*.iml
*.o
*.obj
*.settings
*.sh
*.wssettings
__dummy.html
__test__*__
\.dlangidews
\.idea/
\out/
docs.json
dub\.selections\.json
farmers-of-capitalism
farmers-of-capitalism.exe
\.vscode/
